@model IEnumerable<VCare2.DatabaseLayer.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Job Titles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.JobTitleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
