@model IEnumerable<VCare2.DatabaseLayer.Models.Qualification>

@{
    ViewData["Title"] = "Index";
}

<h1>Qualifications</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QualificationType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QualificationType)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.QualificationsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
